path.react-flow__edge-path {
    stroke-width: 3;
    stroke: #4bf712;
  }
  

.react-flow__node-serviceNode.listHover .serviceNodeContainer {
    background-color: rgb(51 65 85);
    transition: background-color 200ms;
}

.react-flow__node-serviceNode .serviceNodeContainer {
    transition: background-color 300ms;
}